# Dependencies and AdonisJS build
node_modules
build
.next
tsconfig.tsbuildinfo
tmp/*
!tmp/.gitkeep

# Secrets
.env
.env.*
!.env.example
!.env.test.example
.env.local
.env.production.local
.env.development.local
*firebase-adminsdk*.json
firebase-service-account*.json
service-account*.json

# Build tools specific
npm-debug.log
yarn-error.log

# Editors specific
.fleet
.idea
.vscode

# Platform specific
.DS_Store
